<!--
  SOURCES:
  http://jasonwatmore.com/post/2018/05/16/angular-6-user-registration-and-login-example-tutorial#login-component-html
  https://angular.io/tutorial/toh-pt3
  https://speckyboy.com/login-pages-html5-css/
-->
<!--<div class="form" style="text-align:center">
  <img width="300" alt="Angular Logo" src="assets/logo.png">
 
  <div class="box">
    <label for="userName">UserName: </label>
    <input type="text" name="userName" placeholder="UserName">
   console.log(userName);
  </div>

  <div class="box">
    <label for="password">Password: </label>
    <input type="text" name="password" placeholder="**********">
   console.log(password);
  </div>
  
  <form name="myForm" action="fakeBackend.ts" onsubmit="return writeToFile(userName, password)" method="post">
    <button class ="login">Login</button>
  </form>  
  <form name="myForm" action="fakeBackend.ts" onsubmit="" method="post">
    <button class ="register">Register</button>
  </form> 
  
</div>
<router-outlet></router-outlet>-->

<div class='login'>
  
  <img width="300" alt="Angular Logo" src="assets/logo.png" style="text-align:justify">

  <h2>Sign in</h2>
  
  <input name='username' placeholder='Username' type='text'/>
  
  <input name='password' placeholder='Password' type='password'/>
  
  <div class='remember'>
    <input checked='' id='remember' name='remember' type='checkbox'/>
    <label for='remember'></label>Remember me
  </div>
  
 <!---
  to save to file
   <form name="myForm" action="fakeBackend.ts" onsubmit="return writeToFile(username, password)" method="post">
      <input type='submit' value='Sign in'/>
  </form> -->

  <a class='register' href='#'>Register</a>
  <a class='forgot' href='#'>Forgot your password?</a>
</div>

 


<router-outlet></router-outlet>